# Python
__pycache__/
*.py[cod]
*$py.class
.python-version
.pytest_cache/
.mypy_cache/
.pyre/
venv/
ENV/
env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Environment variables
.env
.env.*

# VS Code
.vscode/

# uv package manager
uv.lock
